
body{
    background-color: azure;
}

h1{
    display: flex;
  border: solid;
  margin: 0px;
  justify-content: right;
}
.container {
    font-size: 25px;
  padding: 23px;
  border: solid;
}

.form validasi{
    display: flex;
  justify-content: right;
}


form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    min-width: 120px;
    margin-right: 10px;
    text-align: right;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-left: 5px;
    margin-right: 15px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


















